* {
  box-sizing: border-box;
}

h1 {
  margin: 15px;
}

body {
  background-color: black;
  font-family: 'Press Start 2P', cursive;
  color: #8c8c8c
}

.row {
  width: 100%;
}

.game-board {
  width: 312px;
  height: 312px;
  margin: 0 auto;
}

.square {
  width: 100px;
  height: 100px;
  border: 5px solid #8c8c8c;
  margin: 2px;
  float: left;
  line-height: 100px;
  text-align: center;
  font-size: 40px;
}

.square-hover:hover {
  cursor: pointer;
  background-color: #262626;

}

.game {
  display: '';
  width: 450px;
  /* height: 120px; */
  text-align: center;
  font-size: 12px;
  letter-spacing: 2px;
  background-color: black;
  border: 1px white solid;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.9;
}

.game-button {
  padding: 5px 20px;
  font-size: 15px;
  background-color: #8c8c8c;
  border: 1px white solid;
  border-radius: 10px;
  margin-bottom: 20px;
  font-family: 'Press Start 2P', cursive;
}

.game-button:hover {
  background-color: #737373;
  cursor: pointer;
}

.game-begin {
  display: '';
}

.game-result {
  display: none;
}



.clear {
  clear: both;
}
